{% extends 'myapp/base.html' %} {% block contents %}


<div class="card  shadow-xl">
    <figure> <img class="  max-w-xs   hover:scale-110 transition duration-300 ease-in-out .h-auto " src="{{p.image.url}}" alt="image is loading" /></figure>
    <div class="card-body">
        </h1 class="card-title" style=" text-align:center">
        <b>{{p.name}}</b></h1>
        <p>{{p.description}}</p>
        <p>{{p.details}}</p>
        <div class="text-green-600">Sold By : {{p.seller}} </div>
        <a href="{% url 'users:sellerprofile' p.seller.id %}">
            <div class="text-sm">seller details</div>
        </a>

        <div class="card-actions justify-end">
            <span class="text-3xl font-bold text-black ">₹{{p.price}}</span>
            <button class="btn btn-primary ">BUY</button>
            <button class="btn btn-warning ">add to cart</button>
        </div>
    </div>
</div>

{% endblock %}