{% extends "myapp/base.html"%} {% block contents%}


<div class="flex flex-wrap md:flex-wrap-reverse  justify-center  overflow-auto  ">
    {% for p in products %}

    <div class="card w-96 bg-base-96  p-4 border-4 shadow-xl rounded-lg">
        <a href="{% url 'myapp:products_details' p.id %} ">
            <figure class="px-10 pt-10">
                <img class="object-contain h-48 w-96 max-w-xs hover:scale-110 transition duration-300 ease-in-out .h-auto " src="{{p.image.url}}" alt="image is loading" />
            </figure>
            <div class="card-body items-center text-center">
                <h1 class="card-title" style=" text-align:center">
                    <b>{{p.name}}</b></h1>
                <p>{{p.description}}</p>

                <div class="card-actions justify-end">
                    <span class="text-3xl font-bold text-black ">₹{{p.price}}</span>
                    <button class="btn btn-warning ">add to cart</button>
                </div>

            </div>
        </a>
    </div>

    {% endfor %} {% endblock%}
</div>






<!-- </body>

</html> -->